.country-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__search{
        padding: 0.9rem;
        width: 345px;
        margin: 1.5rem auto;
        border-radius: 5px;
        outline: none;
        &::before{
            display: block;
            content: '&#xF002;';
            position: absolute;
            top: 1rem;
            right: 1rem;
            color: black;
        }
        
    }
    &__filter{
        padding: 1rem;
        outline: none;
        border-radius: 5px;
        margin: 1rem;
        margin-right: auto;
        width: 200px;
        
    }
    &__container{
        // padding-top: 10rem;
    }
    
}