@import './config';

@mixin reset-to-transparent {
    border-color: transparent;
    background-color: transparent;
    box-shadow: transparent;
    outline: none!important;
}

.country-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__search,
    .input-group {
        @include transition-ease;
        padding: 0.35rem 1.2rem;
        width: 345px;
        margin: 1.5rem auto;
        border-radius: 5px;
        outline: none;
        box-shadow: $box-shadow;
        &:focus, &:focus-within, &:active{
            box-shadow: $box-shadow-active;
        }

        .btn-outline-secondary {
            @include reset-to-transparent();
            font-size: 0.9rem;

            &:focus,
            &:active {
                @include reset-to-transparent();
                
            }

        }

        .form-control {
            border-color: transparent;
            outline: none;
            font-size: 0.75rem;
            padding-left: 0.95rem;
            @include transition-ease;
            &:focus {
                outline: none;
                box-shadow: unset !important;
            }
        }

    }

    .btn-country-list__filter {
        padding: 0.85rem 1.5rem;

        outline: none;
        border-radius: 5px;
        margin: 1rem;
        font-size: 0.75rem;
        text-align: left;
        width: 200px;
        box-shadow: $box-shadow;
        @include transition-ease;
        
        &:focus{
            
            box-shadow: $box-shadow-active;
        }
    }

    .dropdown {
        margin-right: auto;
        @include reset-to-transparent();
        &-menu {
            width: 200px;
            font-size: 0.75rem;
            box-shadow: $box-shadow;
        }

        &-toggle {
            &::after {
                float: right;
                margin: 0.45rem 0 0;
            }
        }

        &-item {
            padding: 0.45rem 1.5rem 0;

            &:active,
            :focus {
                outline: none;
                background-color: transparent;
            }
        }
    }

    &__container {
        padding-top: 1rem;
    }

}

@include media-md {
    .country-list {
        padding: 1rem;
        align-items: flex-start;
        display: grid;
        grid-template-columns: 50% 50%;

        &__search,
        .input-group {
            margin: 1rem 0;
            grid-column: 1;
        }

        .dropdown {
            margin: 0;
            grid-column: 2;
            justify-self: end;
            

            .btn-country-list__filter {
                margin: 1rem 0;
                
            }
        }

        &__container {
            grid-column-start: span 2;
            display: grid;
            grid-template-columns: repeat(3, auto);
            justify-content: space-between;
            width: 100%;

        }

    }
}

@include media-lg {
    .country-list {
        padding: 0 3.5rem;

    }

}

@include media-xl {
    .country-list {
        padding: 2rem 3.5rem;

        &__container {
            margin-top: 1rem;
            grid-template-columns: repeat(4, auto);
        }
    }
}