@import './config';

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 80px;
    box-shadow: 0px 3px 5px 0 rgba(black, 0.2);
    h1{
        font-size: 0.875rem;
        font-weight: 800;
        margin-bottom: 0;
    }
    .button{
        font-size: 0.75rem;
        text-transform: capitalize;
        cursor: pointer;
        transition: all 0.2s ease-in;
        &:hover{
            background: radial-gradient(rgba(black, 0.02), transparent);
        }
        
        .fa-moon{
            font-size: 0.75rem;
            margin: 0.8rem;
        }
    }
}
@include media-lg{
    .header{
        padding: 0 3.5rem ;
    }
}