@import './config';

$bg-color-d: hsl(207, 26%, 17%);
$primary-color-d:hsl(0, 0%, 100%);
$secondary-color-d: hsl(209, 23%, 22%);
.App{
    
    &_dark{
        @include transition-ease;
        background-color: $bg-color-d;
        color: $primary-color-d;
        .country-card{
            @include transition-ease;
            background-color: $secondary-color-d;
            &__name{
                color: $primary-color-d; 
            }
        }
        .country-list{
            &__search, .input-group{
                color: $primary-color-d;
                background-color: $secondary-color-d;
                border: 1px solid $bg-color-d;
                box-shadow: 0 3px 5px rgba(black, 0.2);
                .btn-outline-secondary{
                    color: $primary-color-d;
                }
                .form-control{
                    color: $primary-color-d;
                    background-color: $secondary-color-d;
                    &::placeholder{
                        color: $primary-color-d;
                    }
                }
            }
            .btn-country-list__filter{
                border: 1px solid $bg-color-d;
                box-shadow: 0 3px 5px rgba(black, 0.2);
                color: $primary-color-d;
                background-color: $secondary-color-d;
                
            }
            .dropdown{
                &-menu{
                    border: 1px solid $bg-color-d;
                box-shadow: 0 3px 5px rgba(black, 0.2);
                
                background-color: $secondary-color-d;
                }
                &-item{
                    color: $primary-color-d;
                }
            }
        }
        .country{

            &__button{
                color: $primary-color-d;
                background-color: $secondary-color-d;
                border: 1px solid $bg-color-d;
                box-shadow: 0 3px 5px rgba(black, 0.2);
                
            }
        }
    }
}
