@import './config';
$bg-color-l: hsl(0, 0%, 98%);
$primary-color-l:hsl(200, 15%, 8%);
$secondary-color-l: hsl(0, 0%, 100%);
$input-color-l: hsl(0, 0%, 52%);


.App {
    
    &_light {
        @include transition-ease;
        @include set-color($bg-color-l, $bg-color-l);

        .header {
            h1 {
                a {
                    color: $primary-color-l;
                }
            }
            .button_theme{
                color: $primary-color-l;
            }
        }

        .country-card {
            @include transition-ease;
            @include set-color($secondary-color-l, $primary-color-l);
            &__flag{
                box-shadow: 0 3px 5px 0 $bg-color-l;
            }
        }

        .country-list {

            &__search,
            .input-group {
                @include set-color($secondary-color-l, $input-color-l);
                @include set-border($bg-color-l);
                box-shadow: $box-shadow;

                .btn-outline-secondary {
                    color: $input-color-l;
                }

                .form-control {
                    @include set-color($secondary-color-l, $input-color-l);

                    &::placeholder {
                        color: $input-color-l;
                    }
                }
            }

            .btn-country-list__filter {
                @include set-border($bg-color-l);
                @include set-color($secondary-color-l, $primary-color-l);
                
            }

            .dropdown {
                &-menu {
                    @include set-border($bg-color-l);
                    background-color: $secondary-color-l;
                }

                &-item {
                    color: $primary-color-l;
                }
            }
        }

        .country {
            color: $primary-color-l;
            &__button {
                @include set-color($secondary-color-l, $primary-color-l);
                @include set-border(transparent);
            }

            &__link {
                @include set-color($secondary-color-l, $primary-color-l);
            }
        }
    }
}